In [97]:
import pandas as pd
import numpy as np
import math

import geocoder

In [75]:
df = pd.read_csv('hotel_reviews.csv', index_col=0)

In [76]:
df.head()

   Review_year  Review_month Reviewer_country  Rating hotel_location  hotel
0         2016            12              NaN     1.0        beijing  alpha
1         2016            11              NaN     4.0        beijing  alpha
2         2016            10        Singapore     4.0        beijing  alpha
3         2016            10    United States     5.0        beijing  alpha
4         2016            10         Cambodia     5.0        beijing  alpha

In [84]:
df['Reviewer_country'].nunique()

67

In [12]:
a = pd.pivot_table(df, values = 'Review_month', index = 'Review_year', columns='hotel', aggfunc=len)

In [83]:
pd.pivot_table(df, values = ['Review_month'], index = ['Review_year', 'Reviewer_country', 'hotel'], aggfunc=len)

                                          Review_month
Review_year Reviewer_country     hotel
2006        United Kingdom       alpha               1
            United States        alpha               2
2007        Australia            alpha               2
            United States        alpha               2
2008        China                alpha               1
                                 foxtrot             1
            France               alpha               1
            United States        alpha               4
2009        Australia            alpha               1
            Canada               alpha               2
            Germany              foxtrot             1
            Hong Kong            foxtrot             1
            Italy                alpha               1
            Japan                alpha               1
            Malaysia             alpha               1
            Norway               foxtrot             1
            Singapore            alpha               2
                                 foxtrot             2
            Thailand             foxtrot             1
            United Kingdom       alpha               1
            United States        alpha               5
                                 foxtrot             3
2010        Australia            alpha               2
                                 foxtrot             2
            Canada               alpha               1
            China                alpha               2
                                 foxtrot             2
            Hong Kong            alpha               2
            Hungary              alpha               1
            Israel               alpha               1
...                                                ...
2016        Malaysia             foxtrot             5
            Mexico               alpha               1
                                 foxtrot             1
            Netherlands          alpha               1
                                 foxtrot             3
            New Zealand          alpha               1
                                 foxtrot             3
            Philippines          alpha               2
                                 foxtrot             4
            Portugal             foxtrot             1
            Saudi Arabia         foxtrot             1
            Singapore            alpha              17
                                 foxtrot            15
            South Africa         foxtrot             1
            South Korea          foxtrot             1
            Spain                alpha               1
                                 foxtrot             1
            Sweden               alpha               1
            Switzerland          alpha               1
                                 foxtrot             2
            Taiwan               foxtrot             3
            Thailand             foxtrot             1
            United Arab Emirates alpha               1
            United Kingdom       alpha               4
                                 foxtrot            12
            United States        alpha              11
                                 foxtrot            25
2017        Italy                foxtrot             1
            Singapore            alpha               1
                                 foxtrot             1

[340 rows x 1 columns]

In [56]:
c = pd.read_csv('a.csv')

In [58]:
c.drop(c.index[[21,22]], inplace = True)
c

    Review_year    hotel  Review_month
0          2005    alpha             1
1          2006    alpha             3
2          2007    alpha             4
3          2008    alpha             6
4          2008  foxtrot             1
5          2009    alpha            33
6          2009  foxtrot            10
7          2010    alpha            17
8          2010  foxtrot            18
9          2011    alpha            45
10         2011  foxtrot            20
11         2012    alpha            74
12         2012  foxtrot            51
13         2013    alpha            63
14         2013  foxtrot           188
15         2014    alpha            75
16         2014  foxtrot           267
17         2015    alpha            75
18         2015  foxtrot           267
19         2016    alpha            91
20         2016  foxtrot           195

In [62]:
c.head()

   Review_year    hotel  Review_month
0         2005    alpha             1
1         2006    alpha             3
2         2007    alpha             4
3         2008    alpha             6
4         2008  foxtrot             1

In [66]:
az = [{'Review_year': 2005, 'hotel':'foxtrot', 'Review_month': 0},
     {'Review_year': 2006, 'hotel':'foxtrot', 'Review_month': 0},
     {'Review_year': 2007, 'hotel':'foxtrot', 'Review_month': 0},
     {'Review_year': 2008, 'hotel':'foxtrot', 'Review_month': 0}]

In [68]:
pd.DataFrame(az)

   Review_month  Review_year    hotel
0             0         2005  foxtrot
1             0         2006  foxtrot
2             0         2007  foxtrot
3             0         2008  foxtrot

In [71]:
c = pd.concat([pd.DataFrame(az), c], axis = 0)

In [72]:
c.columns = ['review_count', 'review_year', 'hotel']

In [73]:
c.sort_values('review_year', inplace = True)
c

    review_count  review_year    hotel
0              0         2005  foxtrot
0              1         2005    alpha
1              0         2006  foxtrot
1              3         2006    alpha
2              0         2007  foxtrot
2              4         2007    alpha
3              0         2008  foxtrot
3              6         2008    alpha
4              1         2008  foxtrot
5             33         2009    alpha
6             10         2009  foxtrot
8             18         2010  foxtrot
7             17         2010    alpha
9             45         2011    alpha
10            20         2011  foxtrot
11            74         2012    alpha
12            51         2012  foxtrot
13            63         2013    alpha
14           188         2013  foxtrot
15            75         2014    alpha
16           267         2014  foxtrot
17            75         2015    alpha
18           267         2015  foxtrot
19            91         2016    alpha
20           195         2016  foxtrot

In [74]:
c.to_csv('hotel_yearly.csv')

In [13]:
a.replace('NaN', 0)

hotel        alpha  foxtrot
Review_year
2005           1.0      0.0
2006           3.0      0.0
2007           4.0      0.0
2008           6.0      1.0
2009          33.0     10.0
2010          17.0     18.0
2011          45.0     20.0
2012          74.0     51.0
2013          63.0    188.0
2014          75.0    267.0
2015          75.0    267.0
2016          91.0    195.0
2017           1.0      2.0

In [20]:
del a.loc[2017, :]

AttributeError: __delitem__

In [26]:
a.drop(a.index[12], inplace = True)

In [29]:
a

hotel        alpha  foxtrot
Review_year
2005           1.0      0.0
2006           3.0      0.0
2007           4.0      0.0
2008           6.0      1.0
2009          33.0     10.0
2010          17.0     18.0
2011          45.0     20.0
2012          74.0     51.0
2013          63.0    188.0
2014          75.0    267.0
2015          75.0    267.0
2016          91.0    195.0

In [30]:
a = a.replace('NaN', 0)
a.to_csv('hotel_yearly.csv')

In [49]:
b = pd.read_csv('hotel_yearly.csv')
b.to_csv('hotel_yearly.csv')

In [50]:
b

    Review_year  alpha  foxtrot
0          2005    1.0      0.0
1          2006    3.0      0.0
2          2007    4.0      0.0
3          2008    6.0      1.0
4          2009   33.0     10.0
5          2010   17.0     18.0
6          2011   45.0     20.0
7          2012   74.0     51.0
8          2013   63.0    188.0
9          2014   75.0    267.0
10         2015   75.0    267.0
11         2016   91.0    195.0

In [85]:
import pickle

In [96]:
df_f = pd.read_pickle("/Users/peidacai/Ascott_Project/df_fraser.pkl")
df_f.head()

,hotel_location,Review_date,Review_year,Review_month,Reviewer_country,Rating,Review_on_mobile,Review_text,Business_reply
0,beijing,2016-12-19,2016,12,China,5.0,False,"Fantastic services, nice room with good view a...",Dear Babarra116688 Warm greetings from Fraser ...
1,beijing,2016-12-05,2016,12,Hong Kong,5.0,False,It was excellent experience of 6 months stayin...,Dear Anita Warm greetings from Fraser Suites C...
2,beijing,2016-11-13,2016,11,Australia,5.0,False,Highly recommendedï¼ An absolutely beautiful pr...,Dear Guest Warm greetings from Fraser Suites C...
3,beijing,2016-10-23,2016,10,NaN,5.0,False,I spent six months in my fraser suite. It was ...,Dear Bruce Warm greetings from Fraser Suites C...
4,beijing,2016-10-17,2016,10,Taiwan,5.0,False,Convenient because it is very close to my offi...,Dear Ellen Warm greetings from Fraser Suites C...

In [99]:
df_f['LatLon'] = df_f['Reviewer_country'].apply(lambda x: geocoder.google(x).latlng if x > 0 else np.nan)

In [100]:
df_a = pd.read_pickle("/Users/peidacai/Ascott_Project/df_ascott.pkl")
df_a['LatLon'] = df_a['Reviewer_country'].apply(lambda x: geocoder.google(x).latlng if x > 0 else np.nan)

In [101]:
df_f.head()

,hotel_location,Review_date,Review_year,Review_month,Reviewer_country,Rating,Review_on_mobile,Review_text,Business_reply,LatLon
0,beijing,2016-12-19,2016,12,China,5.0,False,"Fantastic services, nice room with good view a...",Dear Babarra116688 Warm greetings from Fraser ...,"[35.86166, 104.195397]"
1,beijing,2016-12-05,2016,12,Hong Kong,5.0,False,It was excellent experience of 6 months stayin...,Dear Anita Warm greetings from Fraser Suites C...,"[22.396428, 114.109497]"
2,beijing,2016-11-13,2016,11,Australia,5.0,False,Highly recommendedï¼ An absolutely beautiful pr...,Dear Guest Warm greetings from Fraser Suites C...,"[-25.274398, 133.775136]"
3,beijing,2016-10-23,2016,10,NaN,5.0,False,I spent six months in my fraser suite. It was ...,Dear Bruce Warm greetings from Fraser Suites C...,NaN
4,beijing,2016-10-17,2016,10,Taiwan,5.0,False,Convenient because it is very close to my offi...,Dear Ellen Warm greetings from Fraser Suites C...,"[23.69781, 120.960515]"

In [108]:
df_f.tail()

,hotel_location,Review_date,Review_year,Review_month,Reviewer_country,Rating,Review_on_mobile,Review_text,Business_reply,LatLon
349,shanghai,2009-08-31,2009,8,Singapore,3.0,False,"I stayed here for a month during the summer, a...",None,"[1.352083, 103.819836]"
350,shanghai,2009-06-14,2009,6,United States,5.0,False,"Despite prior Tripadvisor reviews, we stayed a...",None,"[37.09024, -95.712891]"
351,shanghai,2009-04-15,2009,4,Singapore,3.0,False,Booked a 2 bedroom penthouse. Living room is n...,None,"[1.352083, 103.819836]"
352,shanghai,2009-04-05,2009,4,United States,4.0,False,"Nice, clean apartment style facility.Free inte...",None,"[37.09024, -95.712891]"
353,shanghai,2008-10-11,2008,10,China,2.0,False,"ok, well here are some things that every perso...",None,"[35.86166, 104.195397]"

In [106]:
df_f.loc[,'LatLon']

1    [22.396428, 114.109497]
1     [35.86166, 104.195397]
1     [1.352083, 103.819836]
1                         []
Name: LatLon, dtype: object

In [107]:
len(df_f)

1019

In [233]:
df_fa = pd.pivot_table(df_f, values = ['Review_month'], index = ['Review_year'], columns='Reviewer_country', aggfunc=len)

In [234]:
df_fa.fillna(0, inplace = True)

In [235]:
df_fa.drop(df_fa.index[9], inplace = True)

In [236]:
df_fa = df_fa.T

In [237]:
df_fa['country_total'] = df_fa.sum(axis = 1)

In [238]:
df_fa.T.to_csv('a_reviewer_country.csv')

In [239]:
a = pd.read_csv('a_reviewer_country.csv', index_col=0)

In [240]:
a.columns = list(a.iloc[0,:].values)

In [241]:
a.drop(a.index[[0,1]], inplace = True)

In [242]:
a = a.T

In [246]:
latlon = []

for i in a.index:

    ll = geocoder.google(i).latlng
    latlon.append(ll)

In [247]:
a = pd.concat([a, pd.DataFrame(latlon, columns = ['long', 'lat'], index = a.index)], axis=1)

In [248]:
a.to_csv('a_reviewer_country.csv')

In [210]:
df_aa = pd.pivot_table(df_a, values = ['Review_month'], index = ['Review_year'], columns='Reviewer_country', aggfunc=len)
df_aa.fillna(0, inplace = True)
df_aa.drop(df_aa.index[11], inplace = True)
df_aa = df_aa.T
df_aa['country_total'] = df_aa.sum(axis = 1)
df_aa.T.to_csv('b_reviewer_country.csv')
b = pd.read_csv('b_reviewer_country.csv', index_col=0)
b.columns = list(b.iloc[0,:].values)
b.drop(b.index[[0,1]], inplace = True)

In [212]:
latlon = []

for i in b.columns:

    ll = geocoder.google(i).latlng
    latlon.append(ll)

In [214]:
len(latlon)

50

In [216]:
b.T

,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,country_total
Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
Australia,0.0,2.0,0.0,1.0,2.0,3.0,7.0,6.0,6.0,6.0,7.0,40.0
Austria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
Belgium,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,2.0
Brazil,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,3.0
Brunei,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
Cambodia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
Canada,0.0,0.0,0.0,2.0,1.0,2.0,1.0,1.0,1.0,4.0,2.0,14.0
China,0.0,0.0,1.0,0.0,2.0,2.0,4.0,7.0,15.0,6.0,13.0,50.0
Czechia,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
Denmark,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
Ecuador,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
Egypt,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
Finland,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5.0,0.0,0.0,6.0
France,0.0,0.0,1.0,0.0,0.0,2.0,0.0,2.0,2.0,0.0,0.0,7.0
Germany,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
Gibraltar,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
Greece,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
Hong Kong,0.0,0.0,0.0,0.0,2.0,3.0,4.0,3.0,4.0,6.0,2.0,24.0
Hungary,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0
Iceland,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
India,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,2.0,3.0,2.0,10.0
Indonesia,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,4.0
Ireland,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
Israel,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,3.0
Italy,0.0,0.0,0.0,1.0,0.0,2.0,3.0,4.0,2.0,10.0,10.0,32.0
Japan,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
Kenya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,2.0
Macau,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
Malaysia,0.0,0.0,0.0,1.0,1.0,2.0,3.0,3.0,3.0,1.0,1.0,15.0
Maldives,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
Mexico,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,2.0
Netherlands,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,5.0
New Zealand,0.0,0.0,0.0,0.0,0.0,2.0,1.0,1.0,0.0,3.0,1.0,8.0
Norway,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
Pakistan,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
Panama,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
Philippines,0.0,0.0,0.0,0.0,1.0,1.0,2.0,0.0,1.0,0.0,2.0,7.0
Romania,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
Saudi Arabia,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,2.0
Singapore,0.0,0.0,0.0,2.0,4.0,3.0,13.0,9.0,10.0,11.0,17.0,69.0
South Korea,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,0.0,3.0
Spain,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
Sweden,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,0.0,1.0,4.0
Switzerland,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,2.0
Thailand,0.0,0.0,0.0,0.0,1.0,2.0,2.0,1.0,0.0,1.0,0.0,7.0
U.S. Virgin Islands,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
United Arab Emirates,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,2.0
United Kingdom,1.0,0.0,0.0,1.0,0.0,1.0,3.0,4.0,5.0,4.0,4.0,23.0
United States,2.0,2.0,4.0,5.0,0.0,13.0,15.0,7.0,7.0,8.0,11.0,74.0

In [219]:
b_lat = pd.DataFrame(latlon, columns = ['long', 'lat'], index = b.columns)

In [224]:
b_lat.loc['Gibraltar', :] = [36.1408, -5.3536]

In [226]:
len(b_lat)

50

In [231]:
b = pd.concat([b.T, b_lat], axis=1)

In [232]:
b.to_csv('b_reviewer_country.csv')

In [249]:
b

,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,country_total,long,lat
Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,-38.416097,-63.616672
Australia,0.0,2.0,0.0,1.0,2.0,3.0,7.0,6.0,6.0,6.0,7.0,40.0,-25.274398,133.775136
Austria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,47.516231,14.550072
Belgium,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,2.0,50.503887,4.469936
Brazil,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,3.0,-14.235004,-51.925280
Brunei,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,4.535277,114.727669
Cambodia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,12.565679,104.990963
Canada,0.0,0.0,0.0,2.0,1.0,2.0,1.0,1.0,1.0,4.0,2.0,14.0,56.130366,-106.346771
China,0.0,0.0,1.0,0.0,2.0,2.0,4.0,7.0,15.0,6.0,13.0,50.0,35.861660,104.195397
Czechia,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,49.817492,15.472962
Denmark,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,56.263920,9.501785
Ecuador,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,-1.831239,-78.183406
Egypt,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,26.820553,30.802498
Finland,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5.0,0.0,0.0,6.0,61.924110,25.748151
France,0.0,0.0,1.0,0.0,0.0,2.0,0.0,2.0,2.0,0.0,0.0,7.0,46.227638,2.213749
Germany,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,51.165691,10.451526
Gibraltar,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,36.140800,-5.353600
Greece,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,39.074208,21.824312
Hong Kong,0.0,0.0,0.0,0.0,2.0,3.0,4.0,3.0,4.0,6.0,2.0,24.0,22.396428,114.109497
Hungary,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,47.162494,19.503304
Iceland,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,64.963051,-19.020835
India,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,2.0,3.0,2.0,10.0,20.593684,78.962880
Indonesia,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,4.0,-0.789275,113.921327
Ireland,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,53.142367,-7.692054
Israel,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,3.0,31.046051,34.851612
Italy,0.0,0.0,0.0,1.0,0.0,2.0,3.0,4.0,2.0,10.0,10.0,32.0,41.871940,12.567380
Japan,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,36.204824,138.252924
Kenya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,2.0,-0.023559,37.906193
Macau,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,22.198745,113.543873
Malaysia,0.0,0.0,0.0,1.0,1.0,2.0,3.0,3.0,3.0,1.0,1.0,15.0,4.210484,101.975766
Maldives,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.977228,73.536101
Mexico,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,2.0,23.634501,-102.552784
Netherlands,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,5.0,52.132633,5.291266
New Zealand,0.0,0.0,0.0,0.0,0.0,2.0,1.0,1.0,0.0,3.0,1.0,8.0,-40.900557,174.885971
Norway,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,60.472024,8.468946
Pakistan,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,30.375321,69.345116
Panama,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,8.537981,-80.782127
Philippines,0.0,0.0,0.0,0.0,1.0,1.0,2.0,0.0,1.0,0.0,2.0,7.0,12.879721,121.774017
Romania,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,45.943161,24.966760
Saudi Arabia,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,2.0,23.885942,45.079162
Singapore,0.0,0.0,0.0,2.0,4.0,3.0,13.0,9.0,10.0,11.0,17.0,69.0,1.352083,103.819836
South Korea,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,0.0,3.0,35.907757,127.766922
Spain,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,40.463667,-3.749220
Sweden,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,0.0,1.0,4.0,60.128161,18.643501
Switzerland,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,2.0,46.818188,8.227512
Thailand,0.0,0.0,0.0,0.0,1.0,2.0,2.0,1.0,0.0,1.0,0.0,7.0,15.870032,100.992541
U.S. Virgin Islands,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,18.335765,-64.896335
United Arab Emirates,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,2.0,23.424076,53.847818
United Kingdom,1.0,0.0,0.0,1.0,0.0,1.0,3.0,4.0,5.0,4.0,4.0,23.0,55.378051,-3.435973
United States,2.0,2.0,4.0,5.0,0.0,13.0,15.0,7.0,7.0,8.0,11.0,74.0,37.090240,-95.712891

In [257]:
a['hotel'] = 'b'
a

,2008,2009,2010,2011,2012,2013,2014,2015,2016,country_total,long,lat,hotel
Angola,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,-11.202692,17.873887,b
Argentina,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,-38.416097,-63.616672,b
Australia,0.0,0.0,2.0,0.0,4.0,8.0,24.0,23.0,13.0,74.0,-25.274398,133.775136,b
Bahrain,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,26.066700,50.557700,b
Belarus,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,53.709807,27.953389,b
Belgium,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,50.503887,4.469936,b
Brazil,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,2.0,-14.235004,-51.925280,b
Cambodia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,12.565679,104.990963,b
Canada,0.0,0.0,0.0,1.0,5.0,3.0,3.0,8.0,3.0,23.0,56.130366,-106.346771,b
China,1.0,0.0,2.0,4.0,10.0,34.0,42.0,27.0,20.0,140.0,35.861660,104.195397,b
Czechia,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,49.817492,15.472962,b
Denmark,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,1.0,5.0,56.263920,9.501785,b
Egypt,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,3.0,26.820553,30.802498,b
Finland,0.0,0.0,0.0,1.0,2.0,0.0,1.0,1.0,0.0,5.0,61.924110,25.748151,b
France,0.0,0.0,0.0,1.0,1.0,1.0,2.0,1.0,0.0,6.0,46.227638,2.213749,b
Germany,0.0,1.0,0.0,0.0,0.0,1.0,4.0,5.0,5.0,16.0,51.165691,10.451526,b
Greece,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,3.0,39.074208,21.824312,b
Guernsey,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,49.465691,-2.585278,b
Hong Kong,0.0,1.0,0.0,1.0,1.0,7.0,8.0,13.0,12.0,43.0,22.396428,114.109497,b
Hungary,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,47.162494,19.503304,b
India,0.0,0.0,0.0,1.0,1.0,9.0,4.0,6.0,6.0,27.0,20.593684,78.962880,b
Indonesia,0.0,0.0,0.0,0.0,1.0,5.0,4.0,3.0,6.0,19.0,-0.789275,113.921327,b
Iran,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,32.427908,53.688046,b
Ireland,0.0,0.0,0.0,0.0,1.0,1.0,3.0,0.0,0.0,5.0,53.142367,-7.692054,b
Israel,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,0.0,4.0,31.046051,34.851612,b
Italy,0.0,0.0,1.0,0.0,5.0,11.0,20.0,38.0,34.0,109.0,41.871940,12.567380,b
Japan,0.0,0.0,1.0,0.0,0.0,1.0,3.0,2.0,2.0,9.0,36.204824,138.252924,b
Kazakhstan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,48.019573,66.923684,b
Kenya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,-0.023559,37.906193,b
Kuwait,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,29.311660,47.481766,b
Lebanon,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,33.854721,35.862285,b
Lithuania,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,55.169438,23.881275,b
Malaysia,0.0,0.0,0.0,3.0,1.0,8.0,6.0,2.0,5.0,25.0,4.210484,101.975766,b
Mauritius,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,-20.348404,57.552152,b
Mexico,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,23.634501,-102.552784,b
Nepal,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,28.394857,84.124008,b
Netherlands,0.0,0.0,1.0,0.0,2.0,4.0,11.0,2.0,3.0,23.0,52.132633,5.291266,b
New Zealand,0.0,0.0,1.0,0.0,0.0,2.0,4.0,2.0,3.0,12.0,-40.900557,174.885971,b
Norway,0.0,1.0,0.0,0.0,0.0,0.0,2.0,2.0,0.0,5.0,60.472024,8.468946,b
Pakistan,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,2.0,30.375321,69.345116,b
Philippines,0.0,0.0,0.0,1.0,2.0,0.0,3.0,3.0,4.0,13.0,12.879721,121.774017,b
Poland,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,51.919438,19.145136,b
Portugal,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,39.399872,-8.224454,b
Qatar,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,2.0,25.354826,51.183884,b
Russia,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,3.0,61.524010,105.318756,b
Saudi Arabia,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,3.0,23.885942,45.079162,b
Singapore,0.0,2.0,3.0,3.0,5.0,22.0,18.0,27.0,15.0,95.0,1.352083,103.819836,b
South Africa,0.0,0.0,0.0,0.0,0.0,2.0,2.0,1.0,1.0,6.0,-30.559482,22.937506,b
South Korea,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,1.0,4.0,35.907757,127.766922,b
Spain,0.0,0.0,0.0,0.0,0.0,1.0,2.0,1.0,1.0,5.0,40.463667,-3.749220,b
Sweden,0.0,0.0,0.0,0.0,0.0,1.0,2.0,1.0,0.0,4.0,60.128161,18.643501,b
Switzerland,0.0,0.0,1.0,0.0,0.0,2.0,3.0,0.0,2.0,8.0,46.818188,8.227512,b
Taiwan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,4.0,23.697810,120.960515,b
Thailand,0.0,1.0,0.0,1.0,0.0,1.0,2.0,0.0,1.0,6.0,15.870032,100.992541,b
United Arab Emirates,0.0,0.0,0.0,0.0,0.0,3.0,0.0,1.0,0.0,4.0,23.424076,53.847818,b
United Kingdom,0.0,0.0,1.0,1.0,0.0,9.0,26.0,20.0,12.0,69.0,55.378051,-3.435973,b
United States,0.0,3.0,4.0,2.0,8.0,32.0,39.0,40.0,25.0,153.0,37.090240,-95.712891,b

In [258]:
b['hotel'] = 'a'

In [260]:
c = pd.concat([b,a], axis = 0)
c.fillna(0, inplace = True)

In [261]:
c

,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,country_total,hotel,lat,long
Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,a,-63.616672,-38.416097
Australia,0.0,2.0,0.0,1.0,2.0,3.0,7.0,6.0,6.0,6.0,7.0,40.0,a,133.775136,-25.274398
Austria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,a,14.550072,47.516231
Belgium,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,2.0,a,4.469936,50.503887
Brazil,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,3.0,a,-51.925280,-14.235004
Brunei,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,a,114.727669,4.535277
Cambodia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,a,104.990963,12.565679
Canada,0.0,0.0,0.0,2.0,1.0,2.0,1.0,1.0,1.0,4.0,2.0,14.0,a,-106.346771,56.130366
China,0.0,0.0,1.0,0.0,2.0,2.0,4.0,7.0,15.0,6.0,13.0,50.0,a,104.195397,35.861660
Czechia,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,a,15.472962,49.817492
Denmark,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,a,9.501785,56.263920
Ecuador,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,a,-78.183406,-1.831239
Egypt,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,a,30.802498,26.820553
Finland,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5.0,0.0,0.0,6.0,a,25.748151,61.924110
France,0.0,0.0,1.0,0.0,0.0,2.0,0.0,2.0,2.0,0.0,0.0,7.0,a,2.213749,46.227638
Germany,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,a,10.451526,51.165691
Gibraltar,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,a,-5.353600,36.140800
Greece,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,a,21.824312,39.074208
Hong Kong,0.0,0.0,0.0,0.0,2.0,3.0,4.0,3.0,4.0,6.0,2.0,24.0,a,114.109497,22.396428
Hungary,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,a,19.503304,47.162494
Iceland,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,a,-19.020835,64.963051
India,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,2.0,3.0,2.0,10.0,a,78.962880,20.593684
Indonesia,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,4.0,a,113.921327,-0.789275
Ireland,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,a,-7.692054,53.142367
Israel,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,3.0,a,34.851612,31.046051
Italy,0.0,0.0,0.0,1.0,0.0,2.0,3.0,4.0,2.0,10.0,10.0,32.0,a,12.567380,41.871940
Japan,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,a,138.252924,36.204824
Kenya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,2.0,a,37.906193,-0.023559
Macau,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,a,113.543873,22.198745
Malaysia,0.0,0.0,0.0,1.0,1.0,2.0,3.0,3.0,3.0,1.0,1.0,15.0,a,101.975766,4.210484
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Kazakhstan,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,b,66.923684,48.019573
Kenya,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,b,37.906193,-0.023559
Kuwait,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,b,47.481766,29.311660
Lebanon,0,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,b,35.862285,33.854721
Lithuania,0,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,b,23.881275,55.169438
Malaysia,0,0,0.0,0.0,0.0,3.0,1.0,8.0,6.0,2.0,5.0,25.0,b,101.975766,4.210484
Mauritius,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,b,57.552152,-20.348404
Mexico,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,b,-102.552784,23.634501
Nepal,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,b,84.124008,28.394857
Netherlands,0,0,0.0,0.0,1.0,0.0,2.0,4.0,11.0,2.0,3.0,23.0,b,5.291266,52.132633
New Zealand,0,0,0.0,0.0,1.0,0.0,0.0,2.0,4.0,2.0,3.0,12.0,b,174.885971,-40.900557
Norway,0,0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,2.0,0.0,5.0,b,8.468946,60.472024
Pakistan,0,0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,2.0,b,69.345116,30.375321
Philippines,0,0,0.0,0.0,0.0,1.0,2.0,0.0,3.0,3.0,4.0,13.0,b,121.774017,12.879721
Poland,0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,b,19.145136,51.919438
Portugal,0,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,b,-8.224454,39.399872
Qatar,0,0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,2.0,b,51.183884,25.354826
Russia,0,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,3.0,b,105.318756,61.524010
Saudi Arabia,0,0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,3.0,b,45.079162,23.885942
Singapore,0,0,0.0,2.0,3.0,3.0,5.0,22.0,18.0,27.0,15.0,95.0,b,103.819836,1.352083
South Africa,0,0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,1.0,1.0,6.0,b,22.937506,-30.559482
South Korea,0,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,1.0,4.0,b,127.766922,35.907757
Spain,0,0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,1.0,1.0,5.0,b,-3.749220,40.463667
Sweden,0,0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,1.0,0.0,4.0,b,18.643501,60.128161
Switzerland,0,0,0.0,0.0,1.0,0.0,0.0,2.0,3.0,0.0,2.0,8.0,b,8.227512,46.818188
Taiwan,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,4.0,b,120.960515,23.697810
Thailand,0,0,0.0,1.0,0.0,1.0,0.0,1.0,2.0,0.0,1.0,6.0,b,100.992541,15.870032
United Arab Emirates,0,0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,1.0,0.0,4.0,b,53.847818,23.424076
United Kingdom,0,0,0.0,0.0,1.0,1.0,0.0,9.0,26.0,20.0,12.0,69.0,b,-3.435973,55.378051
United States,0,0,0.0,3.0,4.0,2.0,8.0,32.0,39.0,40.0,25.0,153.0,b,-95.712891,37.090240

In [262]:
c.to_csv('reviewer_country.csv')

In [264]:
q = pd.read_csv('hotel_yearly.csv', index_col=0)
q

    review_count  review_year    hotel
0              0         2005  foxtrot
0              1         2005    alpha
1              0         2006  foxtrot
1              3         2006    alpha
2              0         2007  foxtrot
2              4         2007    alpha
3              0         2008  foxtrot
3              6         2008    alpha
4              1         2008  foxtrot
5             33         2009    alpha
6             10         2009  foxtrot
8             18         2010  foxtrot
7             17         2010    alpha
9             45         2011    alpha
10            20         2011  foxtrot
11            74         2012    alpha
12            51         2012  foxtrot
13            63         2013    alpha
14           188         2013  foxtrot
15            75         2014    alpha
16           267         2014  foxtrot
17            75         2015    alpha
18           267         2015  foxtrot
19            91         2016    alpha
20           195         2016  foxtrot